language: python
python:
  - '2.7'
  - '3.2'
  - '3.3'
install:
  - pip install flake8
  - python setup.py install
script:
  - flake8 . --max-line-length=120 --max-complexity=10 --exclude='docs,env,*.egg'
  - python setup.py nosetests
